<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Mercado Web</title>
<link rel="stylesheet" href="/bootstrap/css/bootstrap.css" />    
<script defer src="https://friconix.com/cdn/friconix.js"> </script>

</head>
<body>

    {{{body}}}


    <!-- Paso 3 -->
    <script src="/jquery/jquery.js"></script>
    <script src="/bootstrap/js/bootstrap.js"></script>
    <!-- Paso 4 -->
</body>
</html>