

    <nav class="navbar navbar-success bg-success justify-content-center">
        <a class="navbar-brand">
            <i class="fi-xwsuh2-shopping-cart-solid" style="color: rgb(255, 255, 255);"></i>

        </a>
    </nav>

